{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-xl">
      <!-- Page title -->
      <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Tipos de Trámite
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Formulario</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(form,{ 'attr': {'class': 'form-horizontal', 'id': 'form', 'enctype': 'multipart/form-data', 'novalidate': 'novalidate'}}) }}

                                <div class="mb-3">
                                    <label class="form-label">Nombre*</label>
                                    {{ form_widget(form.nombre, { 'attr': {'class': 'form-control', 'autocomplete': 'off', 'required': 'required'} }) }}
                                    <span class="error"></span>
                                </div>

                        </div>

                        <div class="card-footer text-end">
                          <div class="d-flex">
                            <a href="{{ path('tipotramite_index') }}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary ms-auto">Insertar</button>
                          </div>
                        </div>

                            {{ form_end(form) }}


                        </div>
                      </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script>

        //select_menu('configuracion_menu');
        
        $(document).ready(function() {


            {# Incluyendo la vista que contiene los mensajes de alertas #}
            {{ include("message.html.twig") }}


        });

    </script>

{% endblock %}



