{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-xl">
      <!-- Page title -->
      <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Usuarios
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Formulario</h3>
                        </div>
                        <div class="card-body">
                            {{ form_start(form,{ 'attr': {'class': 'form-horizontal', 'id': 'form', 'enctype': 'multipart/form-data', 'novalidate': 'novalidate'}}) }}

                                <div class="mb-3">
                                    <label class="form-label">Username*</label>
                                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'autocomplete': 'off', 'required': 'required'} }) }}
                                    <span class="error"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Contraseña*</label>
                                    {{ form_widget(form.password.first, { 'attr': {'class': 'form-control', 'autocomplete': 'off'} }) }}
                                    <span class="error"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Confirmar contraseña*</label>
                                    {{ form_widget(form.password.second, { 'attr': {'class': 'form-control', 'autocomplete': 'off', 'equalTo': '#user_password_first'} }) }}
                                    <span class="error"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Email*</label>
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'autocomplete': 'off', 'required': 'required'} }) }}
                                    <span class="error"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Estado*</label>
                                    {{ form_widget(form.estado, { 'attr': {'class': '', 'autocomplete': 'off'} }) }}
                                    <span class="error"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Roles*</label>
                                    {{ form_widget(form.role, { 'attr': {'class': 'form-control select2', 'autocomplete': 'off', 'required': 'required'} }) }}
                                    <span class="error"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Especialista*</label>
                                    {{ form_widget(form.especialista, { 'attr': {'class': 'form-control select2', 'autocomplete': 'off'} }) }}
                                    <span class="error"></span>
                                </div>

                        </div>

                        <div class="card-footer text-end">
                          <div class="d-flex">
                            <a href="{{ path('user_index') }}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary ms-auto">Insertar</button>
                          </div>
                        </div>

                            {{ form_end(form) }}


                        </div>
                      </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script>

        //select_menu('configuracion_menu');
        
        $(document).ready(function() {


            {# Incluyendo la vista que contiene los mensajes de alertas #}
            {{ include("message.html.twig") }}

            var temp = {{ user.id }}+'';

            if (temp){
                $('#user_password_first').removeAttr('required');
                $('#user_password_second').removeAttr('required');

                {% if user.estado == true %}

                    $('#user_estado').prop('checked', true);

                {% endif %}
            }

        });

    </script>

{% endblock %}


